body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #0078d7;
}
img {
    border-radius: 10px; /* Küncləri yumrulaşdırır */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Kölgə əlavə edir */
}